body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5334b;
  height: 100vh;
}

#__next {
  height: 100%;
}

.main-screen__dictionary {
  max-width: 375px;
  display: flex;
  height: inherit;
  flex-direction: column;
  margin: 0 auto;
  overflow: auto;
}
.main-screen__container {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.main-screen__title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  margin-bottom: 24px;
  margin-top: 12px;
}
.main-screen__input {
  margin-bottom: 16px;
  position: relative;
}
.main-screen__input > input {
  width: -webkit-fill-available;
  padding: 16px 12px;
  border-radius: 32px;
  border: none;
}
.main-screen__times {
  position: absolute;
  right: 16px;
  top: 11px;
  font-size: 18px;
  font-weight: bold;
  color: lightgray;
}
.main-screen__selector {
  /* display: flex; */
}
.main-screen__selector-label {
  font-weight: bold;
  color: #fff;
  margin-bottom: 12px;
}
.main-screen__selector-container {
  display: flex;
  margin-bottom: 24px;
}
.main-screen__selector-input {
  position: relative;
  width: 45px;
  height: 45px;
  margin-right: 12px;
  background-color: #be2239;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: #fff;
}
.coming-soon__label {
  background-color: #ffffff;
  position: absolute;
  font-size: 8px;
  color: black;
  bottom: 0;
  padding: 0px 4px;
  border-radius: 8px;
}
.main-screen__active {
  background-color: #fff;
  color: #be2239;
}
.main-screen__result {
  background-color: #fff;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  height: inherit;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.main-screen__result-label {
  font-weight: bolder;
  margin-bottom: 16px;
}
.main-screen__result-convert {
  padding: 16px;
  background-color: lightgray;
  border-radius: 24px;
  height: 100%;
  overflow-wrap: break-word;
}
.main-screen__copy {
  padding-top: 16px;
  /* display: flex;
  justify-content: space-between; */
  text-align: end;

}
.main-screen__button,
#button-sound > button {
  padding: 12px 20px;
  border: none !important;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  background-color: #be2239;
  /* display: flex;
  align-items: center; */
}
.main-screen__toast {
  position: absolute;
  background: rgba(0, 0, 0, 0.64);
  padding: 12px 20px;
  border-radius: 8px;
  transition: 1s;
  bottom: 16px;
  box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: fit-content;
  /* display: none; */
}
.toast-text {
  font-weight: 600;
  color: white;
  opacity: 1;
}
