@import "./variables";
* {
  font-family: "Poppins", sans-serif !important;
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  height: 100%;
  line-height: 150%;
  background-color: #d5334b;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

#__next {
  height: 100%;
}

.hr {
  border-top: 2px solid #f8f6f6;
  margin-bottom: 1rem;
}

._container {
  width: 100%;
  padding: 0 1rem;
  margin-right: auto;
  margin-left: auto;
}

// main css
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5334b;
  height: 100vh;
}

#__next {
  height: 100%;
}

button:disabled {
  background-color: #be2239bb !important;
}

.main-screen__dictionary {
  max-width: 375px;
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
  overflow: auto;
}
.main-screen__container {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.main-screen__title {
  // height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  // margin-bottom: 24px;
  // margin-top: 12px;
}
.main-screen__input {
  margin-bottom: 24px;
  position: relative;
}
.main-screen__input > input {
  width: -webkit-fill-available;
  padding: 16px 12px;
  border-radius: 32px;
  border: none;
}
.main-screen__times {
  position: absolute;
  right: 16px;
  top: 11px;
  font-size: 18px;
  font-weight: bold;
  color: lightgray;
}
.main-screen__selector {
  /* display: flex; */
}
.main-screen__selector-label {
  font-weight: bold;
  color: #fff;
  margin-bottom: 12px;
}
.main-screen__selector-container {
  display: flex;
  margin-bottom: 16px;
}
.main-screen__selector-input {
  position: relative;
  width: 45px;
  height: 45px;
  margin-right: 12px;
  background-color: #be2239;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: #fff;
}
.coming-soon__label {
  background-color: #ffffff;
  position: absolute;
  font-size: 8px;
  color: black;
  bottom: 0;
  padding: 0px 4px;
  border-radius: 8px;
}
.main-screen__active {
  background-color: #fff;
  color: #be2239;
  width: 125px;
  & .active-label {
    margin-left: 8px;
    font-size: 12px;
    font-weight: 600;
    background: #be2239;
    border-radius: 24px;
    padding: 2px 12px;
    color: #fff;
  }
}
.main-screen__result {
  background-color: #fff;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  height: inherit;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.main-screen__result-label {
  font-weight: bolder;
  /* margin-bottom: 16px; */
}
.main-screen__result-convert {
  padding: 16px;
  background-color: lightgray;
  border-radius: 24px;
  height: 100%;
  overflow-wrap: break-word;
}
.main-screen__copy {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  /* text-align: end;/ */
}
.main-screen__button,
#button-sound > button {
  padding: 12px 20px;
  border: none !important;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  background-color: #be2239;
  display: flex;
  align-items: center;
}
.main-screen__toast {
  position: absolute;
  background: rgba(0, 0, 0, 0.64);
  padding: 12px 20px;
  border-radius: 8px;
  transition: 1s;
  bottom: 16px;
  z-index: 3;
  box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: fit-content;
  /* display: none; */
}
.toast-text {
  font-weight: 600;
  color: white;
  opacity: 1;
}

.main-screen__result-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.main-screen__result-reverse {
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  padding: 4px 8px;
  color: #000;
}
.active-reverse {
  background-color: #be2239;
  border-radius: 6px;
  color: #fff;
}

.spacing {
  margin-right: 8px;
}

//accordion
.rc-collapse-item {
  width: 300px;
}
.rc-collapse-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  height: 76px;
  background: #ffffff;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: #e3e1e1;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.rc-collapse > .rc-collapse-item > .rc-collapse-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  line-height: 22px;
  padding: 10px 16px;
  color: #666;
  cursor: pointer;
}
.rc-collapse-header-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: $blue-secondary;
  flex: none;
  order: 0;
  flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  ._container {
    padding: 0 1rem;
    max-width: 1170px;
  }
}

.pro-sidebar .pro-menu {
  padding-top: 24px !important;
}

.breadcrumb-page {
  padding: 16px 0;
  display: flex;
  .breadcrumb-page__list {
    color: #7b632f;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-transform: capitalize;
    &:last-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
  .breadcrumb-separator {
    color: #7b632f;
    font-weight: 500;
    font-size: 16px;
    margin: 0 8px;
  }
  .breadcrumb-page__active {
    color: $blue-primary;
  }
}

button,
::placeholder {
  font-family: "Poppins", sans-serif !important;
}

.ReactModal__Overlay {
  z-index: 2;
  background-color: rgb(65 64 64 / 75%) !important;
}

.sharelink {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 12px;
  line-height: 16px;
}

.wrapper-btn {
  display: flex;
  flex-direction: column;
}

.or-text {
  text-align: center;
  padding: 16px 0;
  color: rgba(0, 0, 0, 0.471);
  font-size: 14px;
}

.btn {
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #fff;
  font-weight: 600;
  &.twitter {
    background-color: #1d9bf0;
  }
  &.facebook {
    background-color: #3b5998;
  }
  &.whatsapp {
    background-color: #10c045;
  }
}

.toast-copy {
  position: absolute;
  z-index: 3;
  bottom: 0;
}

@import "utils";
@import "~react-pro-sidebar/dist/scss/styles.scss";
@import "./overrides/react-pro-sidebar";
